/**
 * Ad placeholder styles
 */

.ad {
	@include center-margins();
	align-items: center;
	background: color(grey-very-light);
	color: color(grey);
	display: flex;
	justify-content: center;
	margin-bottom: spacer(1);
	margin-top: spacer(-1);
	outline: 1px solid color(grey-light);

	&.ad--970x90 {
		width: rem(970);
		height: rem(90);
	}
}
