/**
 * Front Page featured categories feed styles
 */

.content-area--featured-categories {

	.post--tout {
		@include breakpoints(large) {
			height: calc((100% - #{spacer(3.5)} - #{spacer(3)}) / 4);
		}

		.post__header {
			min-height: 2.5em;
			max-height: 4.25em;
		}
	}
}
