/**
 * Front Page layout styles
 */

.page-template-page-front {
	.site-header {
		margin-bottom: 0;
	}

	.site-content {
		background: transparent;
		display: block;
		padding: 0;
	}

	.content-area,
	.featured-block {
		flex: 0 0 auto;
		max-width: 100%;
		width: 100%;
	}

	.content-area {
		background: white;
		border: none;
		padding: 1rem 1rem;
	}
}

.hero-section {
	margin-bottom: spacer(1);

	@include breakpoints(medium) {
		display: flex;
		margin-bottom: 0;
	}
}

.hero-section__featured-posts {
	display: grid;
	grid-gap: spacer(1);
	margin-bottom: spacer(2);

	@include breakpoints(small, medium) {
		grid-template-columns: 1fr 1fr;

		.post:first-child {
			grid-column: 1 / span 2;
		}
	}

	@include breakpoints(medium) {
		flex: 1 0 auto;
		margin: 0 auto 0 0;
		max-width: 100%;
	}

	@include breakpoints(large) {
		grid-template-columns: 1fr 1fr;

		.post:first-child {
			grid-column: 1 / span 2;
		}
	}

	/* stylelint-disable selector-max-specificity */
	/* Trying to limit selector conditionals in tout template. */
	@include breakpoints(small, medium) {
		.post {
			.post__title {
				font-size: rem(18);
			}

			&:first-child .post__title {
				font-size: 1.75rem;
			}
		}
	}

	@include breakpoints(large) {
		.post:first-child .post__title {
			font-size: 2rem;
		}
	}
	/* stylelint-enable */
}
