/**
 * Front Page post feed styles
 */

.content-area--post-feed {
	display: flex;
	justify-content: space-between;

	@include breakpoints(none, large) {
		flex-direction: column;
	}

	.post-feed__category-title {
		@include section-header();
		align-self: flex-start;
		margin-bottom: spacer(1);

		@include breakpoints(small, large) {
			width: 100%;
		}
	}

	.post-feed__column {
		display: flex;
		flex-direction: column;
		flex: 0 0 auto;
		margin-bottom: spacer(1);
		width: 100%;

		@include breakpoints(small, large) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		@include breakpoints(large) {
			margin-bottom: 0;
			width: calc(( 100% - 2em ) / 3);
		}
	}

	.post--tout {
		background: none;
		flex: 0 0 auto;
		height: auto;
		overflow: visible;
		padding: 0;

		@include breakpoints(small, large) {
			width: calc((100% - #{spacer(1)}) / 2);
			flex: 0 0 auto;
		}

		&:not(:last-child) {
			margin-bottom: spacer(1);
		}

		/* stylelint-disable selector-max-specificity */
		&:not(.has-thumbnail) {
			.post__thumbnail-frame {
				display: block;
			}
		}
		/* stylelint-enable */

		.post__link-wrapper {
			display: flex;
			flex-direction: column;
		}

		.post__thumbnail-frame {
			height: 0;
			order: -1;
			overflow: hidden;
			padding-top: calc(100% * (9/16));
			position: relative;
			background: $color--interface url('../../site/img/gothamish-logo.svg') center no-repeat;
			background-size: 33%;
		}

		img {
			display: block;
			order: -1;
		}

		.post__title {
			background: none;
			color: black;
			font-weight: 500;
			padding: 0.25em 0;
			position: relative;
		}
	}
}
