/**
 * Front Page primary post feed styles.
 */

.primary-feed__page:not(:last-child) {
	margin-bottom: spacer(2);
}

.content-area--primary-feed {
	.post--tout {
		/* stylelint-disable selector-max-specificity */
		/* Overrides to display tout markup as stamp-style posts. */
		&:first-of-type {
			.post__title {
				max-height: 4.25em;
				min-height: 3em;
				overflow: hidden;
			}
		}

		&:not(:first-of-type) {
			height: 5em;
			overflow: hidden;

			.post__link-wrapper {
				flex-direction: row;
			}

			.post__header {
				flex: 1 1 auto;
				margin-left: spacer(1);
			}

			.post__title {
				font-size: rem(18);
				line-height: 1.125;
				padding: 0;
			}

			.post__thumbnail-frame {
				background-size: #{100% * 2 / 3};
				flex: 0 0 auto;
				padding-top: 5em;
				width: 5em;
			}
		}
		/* stylelint-enable */

		.post__title {
			font-weight: 500;
		}
	}
}

.primary-feed__blog-link {
	width: 100%;
	border-radius: 0;
	text-align: center;
	padding: spacer(0.5) spacer(1);
}
