/**
 * Front Page primary post feed styles.
 */

.content-area--primary-feed {
	.post--tout {
		&:first-of-type{
			.post__title {
				min-height: 3em;
				max-height: 4.25em;
				overflow: hidden;
			}
		}

		&:not(:first-of-type) {
			height: 4.75em;
			overflow: hidden;

			.post__link-wrapper {
				flex-direction: row;
			}

			.post__header {
				flex: 1 1 auto;
				margin-left: spacer(1);
			}

			.post__title {
				padding: 0;
			}

			.post__thumbnail-frame {
				flex: 0 0 auto;
				width: 4.75em;
				padding-top: 4.75em;
				background-size: #{100% * 2 / 3};
			}
		}
	}
}
