/**
 * Archive Header styles
 */

.page__header {
	padding-bottom: spacer(2);
	margin-bottom: spacer(2);
	border-bottom: $border--page;
}

.page__header--archive .tag__banner {
	margin-bottom: 0;
}

.page__title {
	margin-bottom: spacer(1);
	line-height: 1;

	.tag__banner + & {
		display: none;
	}
}

.page__description {
	margin-bottom: 0;

	.tag__banner + & {
		margin-top: spacer(0.5);
	}
}
