/**
 * Main Navigation
 */

.site--mobile-nav {
	transition: transform 250ms;

	&.toggle__mobile-nav--active {
		transform: translate3d(-$width--mobile-menu, 0, 0);
		transition: transform 250ms;

		@include breakpoints(large) {
			transform: none;
		}
	}
}

.main-navigation {
	min-width: $width--menu-toggle;
	overflow: hidden;

	@include breakpoints(large) {
		font-size: rem(20);
	}
}

.main-navigation__menu-toggle {
	@include reset-button;
	@include hide-text;
	font-size: 2rem; // Affects mask-size scaling
	background-color: $color--interface;
	height: $width--menu-toggle;
	margin-left: auto;
	mask: url(../img/icon-menu.svg) no-repeat center;
	mask-size: cover;
	width: $width--menu-toggle;

	&[aria-expanded='true'] {
		mask: url(../img/icon-close.svg) no-repeat center;
	}

	@include breakpoints(large) {
		display: none;
	}
}

.primary-nav {
	font: $font--interface;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX($width--mobile-menu);
	width: $width--mobile-menu;

	@include breakpoints(large) {
		align-items: center;
		display: flex;
		height: 100%;
		margin-left: auto;
		position: relative;
		transform: none;
		width: auto;
	}

	> ul,
	.primary-nav__menu {
		list-style: none;
		margin: 0;

		@include breakpoints(large) {
			align-items: flex-start;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
		}

		> li {
			border-bottom: $border--hr-light;
			color: $color--text;

			@include breakpoints(large) {
				align-items: center;
				border-bottom: none;
				display: flex;
				margin: 0 0 0 spacer(1);
				white-space: nowrap;

				&:first-of-type {
					margin-bottom: spacer(1);
					margin-left: 0;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		a {
			display: flex;
			padding: 1em;
			text-decoration: none;
			color: inherit;

			@include breakpoints(large) {
				@include link-hover;
				padding: 0;
			}
		}
	}
}

/* Top Level Main Navigation Option */
.main-navigation--top-level {
	li > ul {
		display: none;
	}
}

/* Priority Nav Main Navigation Option */
.main-navigation--priority-nav {
	@include breakpoints(large) {
		align-items: center;

		.primary-nav__menu {
			flex-wrap: wrap;
			max-height: $width--menu-toggle;
			overflow: hidden;

			li {
				height: $width--menu-toggle;
			}

			li > ul {
				display: none;
			}
		}
	}
}
