/**
 * Main Navigation
 */

.site--mobile-nav {
	transition: transform 250ms;

	&.toggle__main-nav--active {
		transform: translate3d(-$width--mobile-menu, 0, 0);
		transition: transform 250ms;

		@include breakpoints(large) {
			transform: none;
			transition: none;
		}
	}
}

.main-navigation {
	min-width: $width--menu-toggle;
	overflow: hidden;

	@include breakpoints(large) {
		font-size: rem(20);
		overflow: visible;
	}
}

.main-navigation__menu-toggle {
	@include reset-button;
	@include hide-text;
	font-size: 2rem; // Affects mask-size scaling
	background-color: $color--interface;
	height: $width--menu-toggle;
	margin-left: auto;
	mask: url(../img/icon-menu.svg) no-repeat center;
	mask-size: cover;
	width: $width--menu-toggle;

	&[aria-expanded='true'] {
		mask: url(../img/icon-close.svg) no-repeat center;
	}

	@include breakpoints(large) {
		height: #{1.5 * $width--menu-toggle};
		width: #{1.5 * $width--menu-toggle};
	}
}

.primary-nav {
	font: $font--interface;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX($width--mobile-menu);
	width: $width--mobile-menu;

	@include breakpoints(large) {
		background: white;
		left: 0;
		min-width: $width--mobile-menu;
		right: auto;
		top: calc(#{1.5 * $width--menu-toggle} + #{spacer(0.5)});
		transform: none;
		width: auto;
	}

	> ul,
	.primary-nav__menu {
		list-style: none;
		margin: 0;

		@include breakpoints(large) {
			border: $border--hr-light;
			display: none;

			.toggle__main-nav--active & {
				display: block;
			}
		}

		> li {
			border-bottom: $border--hr-light;
			color: $color--text;

			@include breakpoints(large) {
				&:last-child {
					border-bottom: none;
				}
			}
		}

		a {
			color: inherit;
			display: flex;
			padding: spacer(1);
			text-decoration: none;

			@include breakpoints(large) {
				padding: spacer(1.5) spacer(2);

				&:hover {
					background: $color--primary;
					color: $color--text-alt;
				}
			}
		}
	}
}

/* Top Level Main Navigation Option */
.main-navigation--top-level {
	li > ul {
		display: none;
	}
}

/* Priority Nav Main Navigation Option */
.main-navigation--priority-nav {
	@include breakpoints(large) {
		align-items: center;

		.primary-nav__menu {
			flex-wrap: wrap;
			max-height: $width--menu-toggle;
			overflow: hidden;

			li {
				height: $width--menu-toggle;
			}

			li > ul {
				display: none;
			}
		}
	}
}
