/**
 * Site Global Styles
 */

/* HTML & Page Resets */
html {
	font-size: calc((#{$base-unit}/16) * 100%);
}

body {
	background: color(white);
	color: $color--text;
	font: $font--body;

	@include breakpoints(large) {
		background: $color--background;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	position: relative;
}

html,
body,
.site {
	min-height: 100vh;
}

/* Slide Out Mobile Nav */
.site {
	background-color: $color--background;
	display: flex;
	flex-direction: column;

	@include breakpoints(large) {
		@include wrapper($width--site, rem(64));
	}
}

/* Accessibility */
.screen-reader-text {
	@include screen-reader-text;
}

// Do not show the outline on the skip link target.
/* stylelint-disable selector-max-specificity */
#content[tabindex='-1']:focus {
	outline: 0;
}
/* stylelint-enable */

/* Special site-wide selectors */
.site-logotype {
	font-family: font-family(logotype);
	line-height: 1;
	text-transform: lowercase;

	span {
		font-weight: 700;
	}
}
