/**
 * Site Footer Styles
 */

.site-footer {
	margin-top: auto;
	padding: spacer(1) 0;
}

.site-footer__wrapper {
	@include wrapper;
	line-height: 1;
	text-align: center;
	width: 100%;
}

.site-info {
	font: $font--interface;
	font-size: rem(14);
	text-align: center;
	display: inline;

	@include breakpoints(small) {
		font-size: rem(12);
	}

	a {
		@include link-hover;
		color: $color--text;

		&:hover {
			color: color(red);
		}
	}
}
