/**
 * Site Footer Styles
 */

.site-footer {
	margin-top: auto;
	padding: 0;

	@include breakpoints(small) {
		padding: spacer(1) 0 0;
	}
}

.site-footer__wrapper {
	@include wrapper;
	line-height: 1;
	margin-bottom: spacer(1);
	text-align: center;
	width: 100%;
}

.footer-utilities__menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0 0 spacer(1);
	padding: 0 spacer(0.5);

	@include breakpoints(small) {
		font-size: rem(14);
	}

	li {
		line-height: 1.25;

		&::after {
			color: color(grey);
			content: '/';
			display: inline-block;
			padding: 0 spacer(0.5);
		}

		&:last-child::after {
			display: none;
		}
	}
}

.site-info {
	font: $font--interface;
	font-size: rem(14);
	text-align: center;
	display: block;
	margin-bottom: spacer(0.5);

	@include breakpoints(small) {
		display: inline-block;
	}

	a {
		@include link-hover;
		color: $color--text;

		&:hover {
			color: color(red);
		}
	}
}
