/**
 * Site Header Styles
 */

.site-header {
	background-color: $color--page;
	display: flex;
	flex: 0 0 auto;
	height: auto;
	padding: spacer(1) 0;
	width: 100%;
	z-index: z-index(interface);

	@include breakpoints(large) {
		align-items: center;
	}
}

.site-header__wrapper {
	@include wrapper();
	display: flex;

	@include breakpoints(large) {
		flex-wrap: wrap;
		position: relative;
	}
}

.site-header__branding {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
	position: relative;

	@include breakpoints(large) {
		height: $height--site-header;
		justify-content: flex-end;
		order: 1;

		&::after {
			@include pseudo-block(0,100%);
			border-bottom: 1px solid #CCC;
			bottom: spacer(1);
			position: absolute;
			z-index: z-index(last);
		}
	}
}

.custom-logo-link {
	display: none;

	@include breakpoints(large) {
		@include center-margins();
		display: block;
		background: white;
		padding: spacer(0.5) spacer(1) 0;
	}

	img,
	svg {
		height: $height--site-header-content;
		width: auto;
	}
}

.site-header__title {
	align-items: center;
	display: flex;
	font: $font--branding;
	margin: 0;
	text-transform: lowercase;

	a {
		color: $color--branding;
		display: block;
		text-decoration: none;
	}

	@include breakpoints(large) {
		@include center-margins();
		background: $color--page;
		padding: spacer(0.5) spacer(1);

		.custom-logo-link + & {
			display: none;
		}
	}
}

.site-header__navigation {
	flex: 0 0 $width--menu-toggle;
	height: $width--menu-toggle;
	margin-left: auto;
	max-height: 100%;

	@include breakpoints(large) {
		left: spacer(1);
		position: absolute;
		top: 0;
	}
}

.site-header__utilities {
	display: none;

	@include breakpoints(large) {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
		margin-left: auto;
		position: absolute;
		right: spacer(1);
	}
}

.site-header__social-links {
	margin-bottom: spacer(0.5);
}

/* Customize social links module styles */
.social-links {
	a {
		font-family: font-family(headers);
		letter-spacing: letter-spacing(50);
		text-transform: uppercase;

		/* Allow extra specificity for module overrides */
		/* stylelint-disable selector-max-specificity */
		&[href]:hover {
			background: color(grey-dark);
			color: $color--text-alt;

			span {
				background: color(white);
			}
		}

		&[href*='mailto']:hover {
			span {
				background: transparent;
			}
		}
		/* stylelint enable */
	}
}

.site-header__search-form {
	height: rem(32);
	max-width: rem(240);
	min-width: rem(160);
	position: relative;
	width: calc( 100% + #{spacer(2)} );

	.search-field {
		@include absolute-pinned();
		border-radius: 0;
		border: 2px solid $color--interface;
		font-size: rem(14);
		padding-right: 32px;

		&::placeholder {
			color: color(grey-very-very-light);
		}
	}

	.search-submit {
		@include reset-button;
		@include hide-text;
		background: url('../img/icon-search.svg') center no-repeat;
		background-size: rem(16) rem(16);
		height: rem(28);
		position: absolute;
		right: 2px;
		top: 2px;
		width: rem(28);
	}
}
