/**
 * Site Header Styles
 */

.site-header {
	background-color: $color--page;
	display: flex;
	flex: 0 0 auto;
	height: auto;
	padding: spacer(1) 0;
	width: 100%;
	z-index: z-index(interface);

	@include breakpoints(large) {
		align-items: center;
	}
}

.site-header__wrapper {
	@include wrapper();
	display: flex;

	@include breakpoints(large) {
		flex-wrap: wrap;
	}
}

.site-header__branding {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
	position: relative;

	@include breakpoints(large) {
		order: 1;

		&::after {
			@include pseudo-block(0,100%);
			border-bottom: 1px solid #CCC;
			bottom: spacer(1);
			position: absolute;
			z-index: z-index(last);
		}
	}
}

.custom-logo-link {
	display: none;

	@include breakpoints(large) {
		@include center-margins();
		display: block;
		background: white;
		padding: spacer(0.5) spacer(1) 0;
	}

	img,
	svg {
		height: $height--site-header-content;
		width: auto;
	}
}

.site-header__title {
	align-items: center;
	display: flex;
	font: $font--branding;
	margin: 0;
	text-transform: lowercase;

	a {
		color: $color--branding;
		display: block;
		text-decoration: none;
	}

	@include breakpoints(large) {
		.custom-logo-link + & {
			display: none;
		}

		@include center-margins();
		background: $color--page;
		padding: spacer(0.5) spacer(1);
	}
}

.site-header__navigation {
	flex: 0 0 $width--menu-toggle;
	height: $width--menu-toggle;
	margin-left: auto;
	max-height: 100%;

	@include breakpoints(large) {
		display: none;
		flex: 1 1 auto;
		width: 100%;
		height: auto;
	}
}

.site-header__social-links {
	display: none;

	@include breakpoints(large) {
		display: block;
		margin-left: auto;
	}
}

/* Customize social links module styles */
.social-links {
	a {
		/* Allow extra specificity for module overrides */
		/* stylelint-disable selector-max-specificity */
		&[href]:hover {
			background: color(grey-dark);
			color: color(white);

			span {
				background: color(white);
			}
		}

		&[href*='mailto']:hover {
			span {
				background: transparent;
			}
		}
		/* stylelint enable */
	}
}
