/**
 * Site Header Styles
 */

.site-header {
	background-color: $color--page;
	display: flex;
	flex: 0 0 auto;
	height: auto;
	margin-bottom: $margin-bottom--site-header;
	padding: spacer(1) 0;
	width: 100%;
	z-index: z-index(interface);

	@include breakpoints(large) {
		align-items: center;
	}
}

.site-header__wrapper {
	@include wrapper();
	display: flex;
}

.site-header__branding {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
	position: relative;

	@include breakpoints(medium) {
		&::after {
			@include pseudo-block(0,100%);
			border-bottom: 1px solid #CCC;
			bottom: spacer(1);
			position: absolute;
			z-index: z-index(last);
		}
	}

	@include breakpoints(large) {
		// flex-direction: row;
	}
}

.custom-logo-link {
	display: none;

	@include breakpoints(medium) {
		@include center-margins();
		display: block;
		background: white;
		padding: spacer(0.5) spacer(1) 0;
	}

	img,
	svg {
		height: $height--site-header-content;
		width: auto;
	}
}

.site-header__title {
	align-items: center;
	display: flex;
	font: $font--branding;
	margin: 0;
	text-transform: lowercase;

	a {
		color: $color--branding;
		display: block;
		text-decoration: none;
	}

	@include breakpoints(medium) {
		.custom-logo-link + & {
			display: none;
		}

		@include center-margins();
		background: $color--page;
		padding: spacer(0.5) spacer(1);
	}
}

.site-header__navigation {
	flex: 0 0 $width--menu-toggle;
	height: $width--menu-toggle;
	margin-left: auto;
	max-height: 100%;

	@include breakpoints(small) {
		display: none;
		flex: 1 1 auto;
		width: 100%;
		height: auto;
	}
}

/* Sticky Site Header Option */
.site-header--sticky {
	position: fixed;
	background-color: $color--background;
	max-height: $height--site-header;

	& + * {
		padding-top: $height--site-header + $margin-bottom--site-header;
	}

	.site-header__wrapper {
		height: $height--site-header-content;
	}

	@include breakpoints(none, large) {
		.site-header__description {
			display: none;
		}
	}
}
