/**
 * Post Footer
 */

.entry-footer {
	border-bottom: $border--hr-light;
	padding-bottom: spacer(2);

	> div:last-child {
		margin-bottom: 0;
	}
}

.entry-footer__digest-subscribe,
.entry-footer__donation-appeal,
.entry-footer__contact {
	font-size: rem(14);
	margin-bottom: spacer(1);
}

.entry-footer__contact,
.entry-footer .sharedaddy {
	margin-bottom: spacer(2);
}

.entry-footer__digest-subscribe {
	border-bottom: $border--hr-light;
	border-top: $border--hr-light;
	padding: spacer(1) 0;
}

.entry-footer__donation-appeal {
	background: $color--appeal;
	padding: spacer(1);

	.site-logotype {
		font-size: 1.125em;
	}
}

.entry-footer__contact-byline {
	margin-bottom: spacer(1);
}

.entry-footer__contact-links {
	color: color(grey);
	font-style: italic;
}

.entry-footer .sharedaddy {
	.sd-title {
		@include screen-reader-text();
	}

	/* Use !important to override Jetpack !important */
	/* stylelint-disable declaration-no-important */
	ul,
	li {

		margin: 0 !important;
	}

	li {
		padding: 0 !important;
		margin-right: spacer(0.25) !important;

		&:last-child {
			margin: 0 !important;
		}
	}

	@include breakpoints(small) {
		ul {
			display: flex;
			justify-content: space-between;
		}

		li {
			flex: 0 0 auto;
			width: calc( ( 100% - ( 3 * #{spacer(0.5)} ) ) / 4 );
			margin: 0 !important;
		}
	}
	/* stylelint-enable */

	a {
		display: block;
		width: 100%;
	}

	.share-end {
		display: none;
	}
}

.entry-footer__tags-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 0 spacer(-0.5);

	li {
		margin-bottom: spacer(0.5);
		margin-right: spacer(1);

		a {
			background: grey;
			color: $color--text-alt;
			display: block;
			font-size: rem(12);
			line-height: 1;
			padding: spacer(0.25) spacer(0.5);
			text-decoration: none;
			text-transform: uppercase;
			white-space: nowrap;

			&:hover {
				background: color(red-dark);
			}
		}
	}
}
