/**
 * Post Thumbnail styles
 */

.post-thumbnail {
	margin-bottom: spacer(1);
	display: block;
}

.post-thumbnail__frame {
	@include aspect-ratio();

	> img {
		@include absolute-pinned();
		@include image-fill();
	}
}

.post-thumbnail__caption {
	border-bottom: $border--hr-light;
	color: color(grey-dark);
	font-size: rem(12);
	font-style: italic;
	line-height: calc(4em / 3);
	margin-top: spacer(1);
	padding-bottom: spacer(1);
}
