/**
 * Post Header styles
 */

.entry-header,
.page-header {
	margin-bottom: spacer(2);
}

.entry-title {
	font: $font--header;
	margin-bottom: spacer(1);

	@at-root h1#{&} {
		font-size: 2rem;
		line-height: 1;
	}
}

.entry-meta {
	color: color( grey-very-dark );
	font-size: rem(12);
	line-height: calc( 4em / 3);
	text-transform: uppercase;

	a {
		color: color( grey-very-dark );
		font-weight: 700;
	}

	> * {
		margin-right: calc(1em / 4);

		&:last-child {
			margin-right: 0;
		}
	}
}

.byline,
.bypostauthor {
	order: -1;
}

.entry-date {
	text-align: right;
}

.entry-date__last-updated {
	display: none;
}
