/**
 * Post Footer
 */

.entry-footer {
	//idk
}

.entry-footer__digest-subscribe,
.entry-footer__donation-appeal {
	margin-bottom: spacer(1);
	font-size: rem(14);
}

.entry-footer__digest-subscribe {
	border-bottom: $border--hr-light;
	border-top: $border--hr-light;
	padding: spacer(1) 0;
}

.entry-footer__donation-appeal {
	background: $color--appeal;
	padding: spacer(1);

	.site-logotype {
		font-size: 1.125em;
	}
}
